section form{
  padding-top:40px 
}

main{
  margin-top: 0px;
}

.smoke{
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: -999;
}
.carousel-inner{
   position: fixed;
   width: 35%;
   bottom: 0px; 
   left: 15%;
}
.bg{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 250px;
  margin-left: 15px; 
}

.box{
  padding: 20px;
  width: 300px;
  height: 340px;
  background-color: #FF3C00;
  border-radius: 80px 10px 0px 0px;
}
.box_min{
  padding: 0px 20px;
  width: 300px;
  height: 90px;
  background-color: #FF3C00;
  border-radius: 0px 0px 80px 10px;
}