html,body {
    height: 100%; 
    padding: 0;
    margin: 0;
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

body > main {
    flex: 1; 
}

body > footer {
	margin-top: 100px;
  min-height: 100px;
  color: #fff;
}

/*Area Footer */

.footer_title{
	color: #100b25;
  font-size: 17px;
  text-transform: uppercase;
}	
.area_footer{
	width: 100%;
	background-color: #ff6535; 
}
.area_footer .container{
	padding: 20px 0px;
}
/*Area CopyRight*/
 
.area_copy{
  background:#ff3c00;
  width: 100%; 
}
.area_copy .container{
  text-align: center;
  padding: 10px 0px;
}
.area_copy .container p{
  margin-bottom: 0px;
  color: #100b25;
}

/* footer btn */

.footer2{
  margin-top: 0px;
  min-height: 0px;
}
.btn_footer{
  left: 30px;
  bottom: 30px;
  position: fixed;
  background: #fff;
  color: #000;
  width: 70px; 
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
}
.icon_footer{
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40pt;
}
.footer_resu{
  left: 110px;
  bottom: -1000px;
  position: fixed;
  background: #ddd;
  color: #000;
  width: 300px; 
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s ease;
}
#footer:checked ~ .footer_resu{
  bottom: 30px;
}
#footer:checked ~ .btn_footer{
  background: #000;
  color: #fff;
}

