*
{
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif3;
}
.alinhamento
{
    text-align: justify;
}

.text-center
{
    text-align: justify;
}
h2
{
    margin-top: 15px;
}
p
{
    margin-bottom: 15px;
}